@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FEF3C7;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FEF3C7;
}

::-webkit-scrollbar-thumb {
  background: #F59E0B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D97706;
}